@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-image: url(/assets/pattern-background-mobile.svg);
    background-repeat: repeat-x;
    background-size: 100% 30rem;
    background-color: hsl(225, 100%, 94%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Red Hat Display', sans-serif;
}

.main-container {
    background-color: #fff;
    width: 28rem;
    height: 76%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
}

.main-container img {
    top: 0;
    border-radius: 15px 15px 0 0;
    width: 100%;
}

.info-content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 100%;
}


.main-text {
    grid-column: 1/5;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.main-text h2 {
    font-weight: 900;
    font-size: 28px;
}

.main-text p {
    font-weight: 500;
    color: rgb(138, 138, 138);
    line-height: 24px;
    font-size: 16px;
}

.price-content {
    grid-column: 1/3;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

}

.price-info {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.price-info p {
    font-weight: 900;
}

.price-info span {
    color: rgb(138, 138, 138);
}

.icon-content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;  
}

.icon-content img {
    width: 46px;
    margin: 16px;
}

.change-content {
    grid-column: 3/5;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.change-content a {
    text-decoration: underline;
    color: hsl(245, 75%, 52%);
    font-weight: 600;
    font-size: 16px;
}

.change-content a:hover {
    color: hsl(246, 73%, 65%);
    text-decoration: none;
}

.button-content {
    grid-column: 1/5;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 42px;
}

.button-content button {
    background-color: hsl(245, 75%, 52%);
    width: 78%;
    height: 48px;
    border-radius: 10px;
    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    box-shadow: 0px 26px 15px rgba(202, 213, 255, 0.7);
}

.button-content button:hover {
    background-color: hsl(246, 73%, 65%);
}

.button-content a {
    color: hsl(224, 23%, 55%);
    font-weight: 600;
}

.button-content a:hover {
    color: rgb(32, 32, 32);
}